repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy (type checking)
        args: ["--config-file=mypy.ini", "src/yukinoise_users"]
        pass_filenames: false
        additional_dependencies: []
        language: python
